/* .custom-table {
  border-collapse: collapse;
}
.custom-table td,
.custom-table th {
  border: 1px dashed var(--default-grey);
  padding: 0.75rem;
}
.custom-table tr:first-child th {
  border-top: 0;
}
.custom-table tr:last-child td {

  border-bottom: 0;
}
.custom-table tr td:first-child,
.custom-table tr th:first-child {

  border-left: 0;
}
.custom-table tr td:last-child,
.custom-table tr th:last-child {
  border-right: 0;
}


 */
