#legend-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#legend-table {
  margin-top: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
}
