.process-divider{
  color : var(--border-color);
  font-weight: 100;
  font-size: 2.5rem;
  margin: 0.5rem;
}

.process-block{
  border-radius: var(--eg-border-radius);
  background-color: var(--surface-ground);
  padding: 0.75rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  .index,.name,.description{
    transition: all 0.25s ease-in-out;
  }
  &.disabled{
    pointer-events: none;
  }

  &:hover{
    background-color: var(--primary-faded);
    font-weight: 800;
    .index{
      background-color: var(--primary);
      color: var(--primary-faded);
      border-color: var(--primary);

    }
    .name{
      color: var(--primary);
    }
    .description{
      font-weight: 400 !important;
    }
  }
  &.active{
    background-color: var(--primary-faded);
    font-weight: 800;
    .index{
      background-color: var(--primary);
      color: var(--primary-faded);
      border-color: var(--primary);
    }
    .name{
      color: var(--primary);
    }
    .description{
      font-weight: 400 !important;
    }
  }
  &.complete{
    background-color: var(--success-faded);
    font-weight: 800;
    .index{
      background-color: var(--success);
      color: var(--success-faded);
      border-color: var(--success);
    }
    .name{
      color: var(--success);
    }
    .description{
      font-weight: 400 !important;
    }
  }
  &.pending{
    background-color: var(--warn-faded);
    font-weight: 800;
    .index{
      background-color: var(--warn);
      color: var(--warn-faded);
      border-color: var(--warn);
    }
    .name{
      color: var(--warn);
    }
    .description{
      font-weight: 400 !important;
    }
  }
  &.error{
    background-color: var(--danger-faded);
    font-weight: 800;
    .index{
      background-color: var(--danger);
      color: var(--danger-faded);
      border-color: var(--danger);
    }
    .name{
      color: var(--danger);
    }
    .description{
      font-weight: 400 !important;
    }
  }
}
