

.info-card {
  background-color: var(--bg-color);
  border-radius   : var(--eg-border-radius);
  min-height      : 5rem ;
}

.snipper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
