

/* ::ng-deep .ng-image-slider-lightbox {
  z-index: 999999 !important;
} */

::ng-deep .cdk-overlay-container {
  z-index: 999999 !important;

}


 .ng-image-slider-lightbox {
  z-index: 999999 !important;
}
