
<div class="grid h-full">
  <div class="col-12 m-auto">
    <ng-container [ngSwitch]="isVerified">
      <ng-container *ngSwitchCase="false" [ngTemplateOutlet]="notVerifiedHeader"></ng-container>
      <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="verifiedHeader"></ng-container>
      <ng-container *ngSwitchCase="null" [ngTemplateOutlet]="requestForPwdHeader"></ng-container>
    </ng-container>

    <ng-container [ngSwitch]="isVerified">
      <ng-container *ngSwitchCase="false" [ngTemplateOutlet]="notVerified"></ng-container>
      <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="verified"></ng-container>
      <ng-container *ngSwitchCase="null" [ngTemplateOutlet]="requestForPwd"></ng-container>
    </ng-container>
  </div>
</div>


<eag-splash-screen [image]="orgDetails.logo || '../assets/img/eg_rd_black.png'" *ngIf="loading"></eag-splash-screen>

<ng-template #notVerifiedHeader>
  <div class="flex-column">
    <div class="flex flex-grow-0 align-items-center mb-4">
      <div class="text-6xl font-bold" [innerHTML]="'translations.change_password' | translate"></div>
    </div>

    <div class="text-lg">
      <span [innerHTML]="'translations.change_password' | translate"></span>
    </div>
  </div>
</ng-template>

<ng-template #verifiedHeader>
  <div class="flex-column">

    <div class="flex flex-grow-0 align-items-center mb-4">
      <div class="text-6xl font-bold" [innerHTML]="'translations.verified_user' | translate"></div>
    </div>
    <div class="text-lg">
      <span [innerHTML]="'translations.account_activated' | translate"></span>
    </div>
  </div>
</ng-template>

<ng-template #requestForPwdHeader>
  <div class="flex-column">

    <div class="flex flex-grow-0 align-items-center mb-4">
      <div class="text-6xl font-bold" [innerHTML]="'translations.verify_user' | translate"></div>
    </div>
    <div class="text-lg">
      <span [innerHTML]="'translations.verify_user_desc' | translate"></span>
    </div>
  </div>

</ng-template>

<ng-template #requestForPwd>
  <div class="flex flex-column card-container green-container" *ngIf="linkSent == false">

    <div class="flex flex-column gap-2 mt-5">
      <label htmlFor="username" class="font-semibold" [innerHTML]="'translations.username' | translate"></label>
      <input class="py-3" type="text" aria-describedby="username-help" [ngClass]="{'ng-invalid ng-dirty': usernameValid==null}" pInputText id="username" [(ngModel)]="username" (ngModelChange)="validateUsername($event)"/>
      <small id="username-help" class="p-error block" *ngIf="usernameValid==null"><span [innerHTML]="msg"></span></small>
    </div>
    <div class="flex flex-column mt-5 w-full ">
      <p-button [disabled]="!usernameValid" pRipple
              [label]="'translations.send_link' | translate" icon="pi pi-user"
              styleClass="p-button-lg w-full py-3"
              (click)="sendResetPasswordLink()">
      </p-button>
    </div>
  </div>
  <div class="flex flex-column card-container yellow-container" *ngIf="linkSent == true">
    <div class="flex align-items-center justify-content-center text-left">
      <i class="pi pi-check-circle text-green-300" style="font-size: 12rem"></i>
    </div>
    <div class="field grid mt-6">
      <div class="col-12 md:col-12 text-center">
        <!-- <p><span [innerHTML]="msg.detail"></span> for <b [innerHTML]="msg.username"></b> to <b [innerHTML]="msg.email"></b>.</p> -->
        <p [innerHTML]="'translations.reset_link_sent' | translate : {user_name: msg.username, email: msg.email}"></p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notVerified>
  <div class="flex flex-column card-container green-container">
    <div class="flex align-items-center justify-content-start text-left">
      <h3>Hi There, </h3>
    </div>
    <div class="flex flex-column gap-2 mt-2">
      <label htmlFor="password_1" class="font-semibold" [innerHTML]="'translations.password' | translate"></label>
      <span class="p-input-icon-right">
        <i class="pi pi-eye" (click)="togglePassword()"></i>
        <input class="p-inputtext-lg w-full" [type]="showText?'text':'password'" pInputText id="password_1" [(ngModel)]="password_1"  (ngModelChange)="validatePwd('2',$event)" />
      </span>
      <small id="password_1-help"><span [innerHTML]="msg"></span></small>
    </div>
    <div class="flex flex-column gap-2 mt-2">
      <label htmlFor="password_2" class="font-semibold" [innerHTML]="'translations.confirm_password' | translate"></label>
      <span class="p-input-icon-right w-full">
        <i class="pi pi-eye" (click)="togglePassword()"></i>
        <input class="p-inputtext-lg  w-full" [type]="showText?'text':'password'" pInputText id="password_2" [(ngModel)]="password_2" (ngModelChange)="validatePwd('1',$event)"/>
      </span>
      <small id="password_2-help" class="p-error block"><span [innerHTML]="msg"></span></small>
    </div>


    <div class="flex flex-column mt-2 w-full ">
      <p-button [disabled]="!passwordMatch" pRipple
                [label]="'translations.log_in' | translate"
                icon="pi pi-user"
                styleClass="p-button-lg w-full p-button-rounded"
                (click)="changePwd()">
      </p-button>
    </div>
  </div>

</ng-template>

<ng-template #verified>
  <div class="flex flex-column card-container yellow-container">
    <div class="flex align-items-center justify-content-center text-left">
      <i class="pi pi-check-circle text-green-300" style="font-size: 12rem"></i>
    </div>
    <div class="field grid mt-6">
      <div class="col-12 md:col-12 text-center">
        <p-button [disabled]="!passwordMatch" pRipple
                [label]="'translations.log_in' | translate"
                icon="pi pi-user"
                styleClass="p-button-lg w-full p-button-rounded"
                [routerLink] = "['/auth/login']">
        </p-button>

      </div>
    </div>
  </div>
</ng-template>
